spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    open-in-view: false

  profiles:
    include:
      - db
      - image_dir

logging:
  level:
    org.hibernate.SQL: debug

